{% extends "base.html" %}

{% block content %}
    <h2></h2>
    <h1>Register</h1>
    <form class="form-group" name="register_form" method="post">
        {{ form.email.label }}
        {% if form.email.errors %}
            {% for error in form.email.errors %}
                <li class="alert-danger">{{ error|e }}</li>
            {% endfor %}
        {% endif %}
        <p>{{ form.email }}</p>

        {{ form.username.label }}
        {% if form.username.errors %}
            {% for error in form.username.errors %}
                <li class="alert-danger">{{ error|e }}</li>
            {% endfor %}
        {% endif %}
        <p>{{ form.username }}</p>

        {{ form.password.label }}
        {% if form.password.errors %}
            {% for error in form.password.errors %}
                <li class="alert-danger">{{ error|e }}</li>
            {% endfor %}
        {% endif %}
        <p>{{ form.password }}</p>

        {{ form.conf_password.label }}
        {% if form.conf_password.errors %}
            {% for error in form.conf_password.errors %}
                <li class="alert-danger">{{ error|e }}</li>
            {% endfor %}
        {% endif %}
        <p>{{ form.conf_password }}</p>

        <p>{{ form.submit }}</p>
    </form>
{% endblock %}